#skills{
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.skillTitle{
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}
.skillDesc{
  font-weight: 600;
  font-size: 3rem;
  max-width: 51rem;
  padding: 0 2rem;
}
.yourbussiness{
  color: blue;
}

.services-button{
  height:3.2rem;
  padding:0.8rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
